<!DOCTYPE html>
<html>
<head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Reset CSS-->
        <link rel="stylesheet" href="assets/css/reset.css">
        <!-- Materialize CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <!-- My CSS -->
        <link rel="stylesheet" href="style.css">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

<body>



  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><i class="material-icons">pets</i>The Social Petwork</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/home"><i class="material-icons">home</i></a></li>
        <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
        <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav>


    <div class="container">

    
      <div class="row">
        <div class="col s12">

        
        <h3>Welcome, Human {{#name}}{{.}}{{/name}}</h3>
        <h5>Add a new pet to your Menagerie!</h5>
        <form action="/addpet" method="post">
          <div class="row">
              <div class="input-field col s12">
                  <input id="pet_name" type="text" class="validate" required>
                  <label for="pet_name">Pet Name</label>
              </div>
          </div>
          
          <div class="row">
              <div class="input-field col s12">
                  <input id="birth" type="text" class="validate" required>
                  <label for="birth">What's your birthday?</label>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                  <input id="birth" type="text" class="validate" required>
                  <label for="birth">How old are you?</label>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                  <input id="pet_type" type="text" class="validate" required>
                  <label for="pet_type">What kind of pet are you?</label>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                  <input id="fur" type="text" class="validate" required>
                  <label for="fur">What color is your fur?</label>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                  <input id="nap" type="text" class="validate" minlength="6" required>
                  <label for="nap">What's your favorite napping spot?</label>
              </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
                <input id="food" type="text" class="validate" minlength="6" required>
                <label for="food">What's your favorite food?</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
                <input id="toy" type="text" class="validate" minlength="6" required>
                <label for="toy">What's your favorite toy?</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
                <input id="scratch" type="text" class="validate" minlength="6" required>
                <label for="scratch">What's your favorite place to be scratched?</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
                <input id="outside" type="text" class="validate" minlength="6" required>
                <label for="outside">Do you like going outside/taking walks?</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
                <input id="window" type="text" class="validate" minlength="6" required>
                <label for="window">How do you feel about windows?</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
                <input id="notice" type="text" class="validate" minlength="6" required>
                <label for="notice">What's the first thing most notice about you?</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
                <input id="bowl" type="text" class="validate" minlength="6" required>
                <label for="bowl">What do you do when your food bowl is empty?</label>
            </div>
          </div>
        </div>
      </form>
        
          <input type="submit">
        
      </fieldset>
    </form>
        
        <div>
      </div>
      <div class="row">
      
      
  </div>





  <!-- JQUERY Library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Materialize Library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  

</body>

</html>