<!DOCTYPE html>
<html>
<head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Materialize CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <!-- My CSS -->
        <link rel="stylesheet" href="style.css">
        <!-- Font Stylings -->
        <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet"> 

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

<body>



  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><i class="material-icons">pets</i>The Social Petwork</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/home" title="View Your Homepage"><i class="material-icons">home</i></a></li>
        <li><a href="/petmenu" title="View All Pets"><i class="material-icons">view_module</i></a></li>
        <li><a href="/newgab"><i class="material-icons">add_box</i></a></li>
        <a class="btn waves-effect waves-light 1" href="/logout">Logout</a>
      </ul>
    </div>
  </nav>


  <div class="container">

    <div class="row">
      <div class="col s12 center">
        <div class="row">
          <div class="col s12 center" id="homepage">
            <div class="row">
              <div class="col s4">
                <img src="/assets/images/Smallpeticon.png">
              </div>
              <div class="col s8">  
                <h1 class="welcome">Welcome home, Human {{#name}}{{.}}{{/name}}!</h1>
                <span class="tag">Click the buttons to view different pages, or scroll down to view the newsfeed of other Humans about their beloved pets!</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="buttonbg">
          <div class="col s4 center">
            <a class="btn btn-large waves-effect waves-light" href="/petmenu">View All Pets<i class="material-icons right">add_box</i></a>
          </div>
          <div class="col s4 center">
            <a class="btn btn-large waves-effect waves-light" href="/addpet">Add a Pet<i class="material-icons right">add_box</i></a>
          </div>
          <div class="col s4 center">
            <a class="btn btn-large waves-effect waves-light" href="/newgab">Create a Post<i class="material-icons right">add_box</i></a>
          </div>
        </div>  
      </div>
    </div>

    <div class="row">
      <div class="col s12 center">
        <div class="row">
          <div class="col s12 center">
            <h2>Most Recent Pet Posts</h2>
            {{#posts}}
              <div>
                
                <div class="username">{{user.name}} says:</div>
                <li class="posttitle">{{title}}</li>
                <div id="postBody">{{body}}</div>
                
                <div id="timestamp">Created at: {{createdAt}}</div>

              </div>
              <form class="" action="/like" method="post">
                <label>like post: </label><input class="submitbtn" type="submit" name="submitbtn" value="{{id}}">
                <span class="likes-link">Likes: {{#likes}}{{likes.length}}{{/likes}}</span>
                
              </form>
            {{/posts}}
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <a class="btn btn-large waves-effect waves-light" href="/newgab">New Post<i class="material-icons right">add_box</i></a>
          </div>
        </div>  
      </div>
    </div>  
  </div>


  <!-- JQUERY Library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Materialize Library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  

</body>

</html>
