<!DOCTYPE html>
<html>

    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Reset CSS-->
        <link rel="stylesheet" href="assets/css/reset.css">
        <!-- Materialize CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <!-- My CSS -->
        <link rel="stylesheet" href="style.css">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
 

<body>



  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><i class="material-icons">pets</i>The Social Petwork</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
        <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <!-- Page Content goes here -->
    <div class="row">
      <div class="col s12" id="mainLogo">
        <img src="/assets/images/TSP-Logo5.png">
      </div>
    </div>

    <div class="row">
      
      <div class="col s7" id="logregBox">
      
        <p>This is where we'll set up a brief description of the site and why people 
        should register for it! Then, we'll remind them registration is free, and 
        show them these pretty button choices: </p>

        <a class="btn waves-effect waves-light 1" href="/signup">Sign up! It's Free!</a>
        <a class="btn waves-effect waves-light 2" href="/login">Welcome back! Login!</a>

      </div>

      <div class="col s5">
        <img src="/assets/images/pawprint.gif">
      </div>

    </div>            
      


  </div>

  
  <!-- JQuery Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Materialize Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <!-- My JS -->
   
    </body>
  </html>

