<!doctype html>
<html>

<head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Materialize CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <!-- My CSS -->
        <link rel="stylesheet" href="style.css">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

<body>



  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><i class="material-icons">pets</i>The Social Petwork</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/login" title="View Your Homepage"><i class="material-icons">home</i></a></li>
        <li><a href="/login" title="View All Pets"><i class="material-icons">view_module</i></a></li>
        <li><a href="/login"><i class="material-icons">add_box</i></a></li>
      </ul>
    </div>
  </nav>
  
  <div class="container">

    <div class="row">

      <div class="col s6">
        <h1>Not a member?</h1>
        <div class="row">
          <div class="col s6">
            <a class="btn btn-large waves-effect waves-light 2" href="/signup">Sign Up!<i class="material-icons right">done</i></a>
          </div>
        </div>
        <div class="row">
          <div class="col s10 center">
            <img src="/assets/images/secondaryLogoforsmall.png">
          </div>
        </div>
      </div>

      <div class="col s6"> 
        <form action="/login" method="post" class="col s12" id="reg-form">
          <h1>Log in</h1>
          
          <div class="row">
            <div class="input-field col s12">
              <input autocomplete="off" type="text" name="username" class="validate" required>
              <label for="username">Username</label>
            </div>
          </div>
            
          <div class="row">
            <div class="input-field col s12">
              <input autocomplete="off" type="password" name="password" class="validate" required>
              <label for="password">Password</label>
            </div>
          </div>

          <div class="row">
            <div class="col s6"></div>
              <div class="input-field col s6">
                <button class="btn btn-large btn-register waves-effect waves-light" id="register" type="submit">Login<i class="material-icons right">home</i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>

  </div>  

</body>

  <!-- JQUERY Library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Materialize Library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  

</html>