<!DOCTYPE html>
<html>
<head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Materialize CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <!-- My CSS -->
        <link rel="stylesheet" href="style.css">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

<body>



  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><i class="material-icons">pets</i>The Social Petwork</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/home" title="View Your Homepage"><i class="material-icons">home</i></a></li>
        <li><a href="/petmenu" title="View All Pets"><i class="material-icons">view_module</i></a></li>
        <li><a href="/newgab"><i class="material-icons">add_box</i></a></li>
        <a class="btn waves-effect waves-light 1" href="/logout">Logout</a>
      </ul>
    </div>
  </nav>


  <div class="container">
    
    <div class="row">
      <div class="col s12 center">
        <h3>Welcome to the Social Petwork's Mengaerie!</h3>
        <h4>Click on a pet to view their individual profile!</h4>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="row">
          {{#pets}}
            <div class="col s3 center" id="test">
              <img src="{{pet_photo}}" id="petPic">
              <p>Name: {{pet_name}} </p>
              <p>Type: {{pet_type}}</p>
              <a href="/petprofile/{{pet_name}}">View {{pet_name}}'s Profile</a>
            </div>
          {{/pets}}
        </div>
      </div>
    </div>
  </div>


  <!-- JQUERY Library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Materialize Library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  

</body>

</html>
