<!DOCTYPE html>
<html>
<head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Materialize CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <!-- My CSS -->
        <link rel="stylesheet" href="/style.css" type='text/css'>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

<body>



  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><i class="material-icons">pets</i>The Social Petwork</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/home"><i class="material-icons">home</i></a></li>
        <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
        <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
        <a class="btn waves-effect waves-light 1" href="/logout">Logout</a>
      </ul>
    </div>
  </nav>


  <div class="container">
    

    {{#pets}}
        <div class="row">
            <div class="col s4" style="padding: 10px">
                <h2>{{pet_name}}</h2>
                <!-- Temporary Image to be replaced with User Data -->
                <div id="petPic" class="col s12"> 
                    <img src="{{pet_photo}}">
                </div>
                <br>
                <div class="row">
                    <div class="col s12">
                        <h5>About Me:</h5>    
                        <table>
                    
                            <tbody>
                                <tr>
                                    <td>Animal: </td>
                                    <td>{{pet_type}}</td>     
                                </tr>
                                <tr>
                                    <td>Birthday:</td>
                                    <td>{{pet_birthday}}</td>
                                </tr>
                                <tr>
                                    <td>Fur Color:</td>
                                    <td>{{fur_color}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col s8">
                <div class="row">
                    <div class="col s12">
                        <h4>{{pet_name}}'s Bio</h2>
                        <p>Hi! My name is {{pet_name}} and I am {{pet_age}} years old. My favorite place to nap is {{fave_nap}} and I love to play with my {{fave_toy}}. My very favorite thing to eat is {{fave_food}}, and my favorite place to get scritches is {{fave_scratch}}. The first thing that people notice about me is {{fave_feature}}. When my bowl is empty, I {{bowl_empty}}.</p>
                        <h5>How do you feel about going outside?</h5>
                        <p>{{fave_walk}}</p>
                        <h5>Do you like windows?</h5>
                        <p>{{fave_window}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12"><h4>{{pet_name}} Says:</h4>
                        <div class="BlogPost" style="border:1px solid; padding: 20px;">This is temporary until we have Post functionality from that one Blogger Activity</div>
                    </div>
                </div>    

            </div>
        </div>    
        
        
        </div> 
                        
    {{/pets}}
  </div>


  <!-- JQUERY Library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Materialize Library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  

</body>

</html>
